* {
    border: none;
    font-family: Courier;
    margin: 0;
}
body {
    background: #000;
    color: #76ff26;
}
canvas {
    display: block;
    border: none;
    resize: auto;
    overflow-x: auto;
    overflow-y: auto;
}
#user-input:focus {
    outline: none;
}
#user-input {
    background-color: transparent;
    border: none;
    color: #5aff00;
    resize: none;
    font-family: Courier;
    width: 98%;
    height: 100%;
    font-family: courier;
    font-weight: bold;
    font-size: inherit;
}
p {
    padding: 1.2px;
    font-weight: bold;
}
html,body {
    margin: 0;
    padding: 0;
    height: 95vh;
}
#content {
    margin-right: 1.9px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 95vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
}
#content::-webkit-scrollbar {
    display: none;
}
div {
    height: 100%;
}
y{
    padding: 1.2px;
    color: yellow;
}
c{
    padding: 1.2px;
    color: cyan;
}
r{
    padding: 1.2px;
    color: #ff5050;
}
o{
    padding: 1.2px;
    color: #ff9900;
}
w{
    padding: 1.2px;
    color: white;
}
lsk{
    letter-spacing: 0px;
    font-family: Consolas;
}
g{
    color: #5aff00;
}
